@import "./reset.css";

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 420px;

    margin-top: 60px;
    margin-left: 60px;

    padding-top: 20px;
    padding-bottom: 50px;

    border: 1px solid #DBB9B9;
}

.title{
    margin-top: 30px;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 32px;
    color: #CD2626;
}

.subtitle{
    width: 330px;

    margin-bottom: 30px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.subtitle a{
    color: #BD3030;
}

.price{
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 26px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 207px;
    height: 60px;

    background-color: #CD2626;
    border-radius: 8px;

    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.button:hover,:focus{
    background-color: #E41919;
}

.button:active{
    background-color: #8E1010;
    color: #F1C9C9;
}